<% provide(:title, "Home") %>

<div class="top">
    <div class="container box">
        <h1 class="fuchidori">Portfolio</h1>
        <h2 class="fuchidori2">Sumire Hori</h2>
    </div>
</div>

<div class="title fuchidori">
    <p>自己紹介</p>
</div>

<section class="section-container">
    <div class="">
        
    </div>
    <div class=""></div>
</section>