<% provide(:title, "Home") %>

<div class="top">
    <div class="container box">
        <h1 class="fuchidori">Portfolio</h1>
        <h2 class="fuchidori2">Sumire Hori</h2>
    </div>
</div>

<div class="title fuchidori">
    <p>About</p>
</div>

<section class="section-container">
    <div class="img">
        <%= image_tag 'g9EmDbj2OQd8G_81559564597_1559564603.jpg' %>
    </div>
    <div class="hori">
        <table>
            <tr>
                <td>名前</td><td>：</td><td>堀すみれ</td>
            </tr>
            <tr>
                <td>生年月日</td><td>：</td><td>1998年4月30日生まれ（21歳）</td>
            </tr>
            <tr>
                <td>学歴</td><td>：</td><td>早稲田大学 先進理工学部 化学・生命化学科（中退）</td>
            </tr>
            <tr>
                <td>所在地</td><td>：</td><td>東京都内</td>
            </tr>
            <tr>
                <td><a href="#" class="more">more...</a></td>
            </tr>
        </table>
    </div>
</section>
 
<div class="title fuchidori">
    <p>Works</p>
</div>

<section class="section-container">
    <div>
        <h1>オリジナルWebアプリケーション開発</h1>
        <table>
            <tr>
                <td>案件名</td><td>：</td><td>プログラミングスクール検索サイト Cutting Edge</td>
            </tr>
            <tr>
                <td>業務内容</td><td>：</td><td>要件定義、基本設計、詳細設計、開発、テスト</td>
            </tr>
            <tr>
                <td>使用言語</td><td>：</td><td>Ruby(Ruby on Rails), HTML, CSS</td>
            </tr>
            <tr>
                <td><a href="#" class="more">more...</a></td>
            </tr>
        </table>
    </div>
    
    <div>
        <h1>フリーランスとしての参画案件</h1>
        <table>
            <tr>
                <td>案件名</td><td>：</td><td>ワークフローシステムの再構築</td>
            </tr>
            <tr>
                <td>業務内容</td><td>：</td><td>開発、テスト</td>
            </tr>
            <tr>
                <td>使用言語</td><td>：</td><td>Javascript (intra-mart), HTML, CSS, jQuery</td>
            </tr>
            <tr>
                <td><a href="#" class="more">more...</a></td>
            </tr>
        </table>
     </div>
</section>

<div class="title fuchidori">
    <p>Contact</p>
</div>

<section class="section-container contact">
    <p>Email : <a href="mailto:smilehoris@gmail.com" class="more">smilehoris@gmail.com</a></p>
</section>